* {
  margin: 0;
  border: 0;
  padding: 0;
}

html, body {
  /*font-family: "Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";*/
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
}

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container > div {
  font-size: 14px;
  overflow-y: auto;
  padding: 20px;
}
.container > div:focus {
  outline: 0;
}

.md-editor {
  flex: 1;
  cursor: text;
  font-size: 13px;
  color: #444;
  line-height: 2;
}

.md-preview {
  flex: 1;
  /*width: 500px;*/
  border-left: 1px solid coral;
  font-family: sans-serif;
  font-size: 14px;
}

/*-----------------------------
        custom styles
-----------------------------*/
.md-preview p {
  line-height: 2;
  margin: 10px 0;
}

.md-preview h1 + p,
.md-preview h2 + p,
.md-preview h3 + p,
.md-preview h4 + p {
  margin-top: 8px;
}

.md-preview h1,
.md-preview h2,
.md-preview h3,
.md-preview h4 {
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
}
.md-preview h1 {
  display: none;
}
.md-preview h2 {
  font-size: 24px;
  margin: 20px 0 12px;
}
.md-preview h2 .code {
  font-size: 24px;
}

.md-preview h3 {
  font-size: 20px;
  margin: 12px 0 8px;
}
.md-preview h3 .code {
  font-size: 20px;
}

.md-preview h4 {
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0 5px;
}
.md-preview h4 .code {
  font-size: 16px;
}

.md-preview h1 > *,
.md-preview h2 > *,
.md-preview h3 > *,
.md-preview h4 > * {
    font-size: inherit !important;
}

.md-preview > *:first-child {
  margin-top: 0;
}

.md-preview .code-wrap {
  /*margin-top: 10px;
  border-radius: 2px;
  overflow-x: auto;
  font-size: 12px;
  padding: 10px;
  background: #F0F0F0;*/
}
.md-preview .pre,
.md-preview pre {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  max-width: 100%!important;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  white-space: nowrap;
  word-wrap: break-word!important;
  background: #F0F0F0;
  color: #fff;
  font-family: Consolas, Lucida Console, Courier New, monospace;
}
.md-preview .line,
.md-preview .lbr {
  display: block;
  margin: 3px 0;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap!important;
}

.md-preview .code {
  font-size: 12px;
  margin: 0 2px;
  padding: 3px 5px;
  color: #666;
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.61);
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  font-family: monospace;
}

.md-preview img {
  max-width: 100%;
}
.md-preview .img-wrap {
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
}

.md-preview .link {
  color: #1980e6;
}

.md-preview ul,
.md-preview ol {
  padding-left: 10px;
  line-height: 2;
}
.md-preview li {
  margin: 10px 0 10px 10px;
  font-size: 10px;
}

.md-preview .blockquote {
  background: #efefef;
  margin: 10px 0;
  padding: 10px 10px;
  font-size: 12px;
  background-color: #efefef;
  border-left: 2px solid #127ae6;
}
.md-preview .blockquote p + p {
  margin-top: 10px;
}
.md-preview .blockquote p {
  margin: 0;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
}


.md-preview table {
  margin-top: 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.md-preview table thead {
  background-color: #F7F7F7;
  border-bottom: 2px solid #1491e8;
}
.md-preview table tr {
  border-bottom: 1px solid #1491e8;
}
.md-preview table td,
.md-preview table th {
  line-height: 2;
  font-size: 12px;
  overflow: hidden;
  padding: 5px 5px;
  min-width: 50px;
}
.md-preview table th + th,
.md-preview table td + td {
  padding-left: 15px;
}

.md-config {
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 20px;
  line-height: 2;
  font-size: 15px;
  font-family: sans-serif;
}

.md-config input {
  margin-right: 5px;
  vertical-align: middle;
}

.container > .change-theme {
  position: absolute;
  right: 50px;
  top: 4px;
  background: #eee;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  opacity: 1;
}
.container > .change-theme:hover {
  background-color: #ddd;
}

/*-----------------------------
        clip button styles
-----------------------------*/
.clip-btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: .5;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px
}

.highlight:hover .clip-btn {
  opacity: 1
}

.clip-btn {
  position: absolute;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none
}

.clip-btn:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: none;
  box-shadow: 0 0 5px rgba(81,167,232,0.5)
}

.clip-btn:focus:hover,.clip-btn.selected:focus {
  border-color: #51a7e8
}

.clip-btn:hover,.clip-btn:active,.clip-btn.zeroclipboard-is-hover,.clip-btn.zeroclipboard-is-active {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc
}

.clip-btn:active,.clip-btn.selected,.clip-btn.zeroclipboard-is-active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15)
}

.clip-btn.selected:hover {
  background-color: #cfcfcf
}

.clip-btn:disabled,.clip-btn:disabled:hover,.clip-btn.disabled,.clip-btn.disabled:hover {
  color: rgba(102,102,102,0.5);
  cursor: default;
  background-color: rgba(229,229,229,0.5);
  background-image: none;
  border-color: rgba(197,197,197,0.5);
  box-shadow: none
}

.clippy {
  margin: -3px 0 0 0;
  position: relative;
  top: 3px
}

.clip-btn[disabled] .clippy {
  opacity: .3
}