* {
  margin: 0;
  border: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
input, textarea {
  font-family: inherit;
}
input:focus,
textarea:focus {
  outline: 0;
}

html, body {
  font-family: "Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
}

body {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  padding: 0 30px;
  font-size: 16px;
  background: #683fc7;
}
.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;

  min-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
}

.container > div {
  font-size: 14px;
  overflow-y: auto;
  padding: 20px;
}
.container > div:focus {
  outline: 0;
}

.container > .md-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;

  cursor: text;
  font-size: 16px;
  color: #444;
  line-height: 2;
  background: #f7f7f7;
  /*border-right: 1px solid #0e0e0e;*/
}
.container > .md-editor > div {
  padding: 0 20px;
}

.container > .md-preview {
  /*flex: 1;*/
  width: 414px;
  font-size: 14px;
  color: #333;
}

/*popup styles*/
.pop-form-mask,
.pop-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 23, 24, .5);
}
.pop-form-content,
.pop-content {
  width: 70%;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}
.url-input {
  display: block;
  box-sizing: border-box;
  width: 70%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  margin: 125px auto 0;
  font-size: 12px;
  border: 2px solid #d41de0;
}
.url-input:focus {
  outline: 0;
  box-shadow: 1px 1px 5px #eaad17, -1px -1px 5px #eaad17;
}
.error-tip {
  display: none;
  width: 70%;
  margin: 20px auto;
  color: #e24a3d;
}
.submit-btn {
  position: absolute;
  right: 15%;
  bottom: 20px;
  text-decoration: none;
  color: #fff;
  background: rgba(20, 145, 232, 1);
  padding: 1em;
}
.submit-btn:hover {
  background: rgba(20, 145, 232, 0.86);
}

/*weekly pop*/
.pop-form-content {
  display: flex;
  height: 420px;
  font-size: 16px;
  padding: 30px;
}
.pop-form-content > div {
  width: 50%;
  box-sizing: border-box;
}

.pop-form-content > div > label {
  display: block;
  margin: 12px 0 6px;
  font-weight: bold;
}

.pop-form-content > div > label > i {
  margin-left: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none;
    user-select: none;
}
.pop-form-content > div > label > i:hover {
  color: coral;
}
.pop-form-content > div > label > .net-err {
  display: none;
  color: #d14;
}

.pop-form-content > div > input,
.pop-form-content > div > textarea {
  font-size: 14px;
  border-bottom: 1px solid #eaad17;
}

.pop-form-content > div > input {
  display: block;
  width: 70%;
  margin: 6px 0 ;
  padding: 5px 10px;
}
.pop-form-content > div > textarea {
  display: block;
  width: 90%;
  height: 110px;
  padding: 10px;
  line-height: 2;
  border: 1px solid #ccc;
  resize: none;
}

.pop-form-content .file-group {
  display: flex;
  width: 70%;
  height: 22px;
  margin: 6px 0;
  padding: 5px 10px;
  border-bottom: 1px solid #eaad17;
}
.file-group > img {
  width: 22px;
  height: 22px;
  margin-right: -10px;
  cursor: pointer;
}
.file-group > input {
  border: 0;
  margin: 0;
  padding: 0;
}
.file-group > input[type="text"] {
  flex: 1 0 0;
}
.file-group > label {
  width: 22px;
  height: 22px;
  margin-right: -10px;
  overflow: hidden;
  background: url("../images/folder.png");
  background-size: 22px 22px;
  cursor: pointer;
}
.file-group > label > input[type="file"] {
  width: 0;
  height: 0;
  display: none;
}

.edit-done {
  display: block;
  width: 100px;
  padding: 1em;
  margin-top: 20px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: rgba(20, 145, 232, 1);
}
.edit-done:hover {
  background: rgba(20, 145, 232, 0.86);
}

/*btn icons*/
.header > .btns {
  display: flex;
  align-items: center;
  padding: 10px;
}
.btns a {
  display: block;
  /*height: 32px;*/
  margin-left: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.btns a:hover {
  color: #fff;
}

/*article meta*/
.header > .article-meta {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.article-meta .meta-author {
  width: 100px;
}
.article-meta .meta-url {
  width: 400px;
}
.article-meta input {
  padding: 0 5px;
  border-bottom: 1px solid #e0d4d4;
  height: 30px;
  background: transparent;
  color: #f0f8ff;
  font-size: 16px;
  margin-top: 2px;
}
.article-meta input:focus {
  outline: 0;
}

/*-----------------------------
        clip button styles
-----------------------------*/
.clip-btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: .5;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px
}

.highlight:hover .clip-btn {
  opacity: 1
}

.clip-btn {
  position: absolute;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none
}

.clip-btn:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: none;
  box-shadow: 0 0 5px rgba(81,167,232,0.5)
}

.clip-btn:focus:hover,.clip-btn.selected:focus {
  border-color: #51a7e8
}

.clip-btn:hover,.clip-btn:active,.clip-btn.zeroclipboard-is-hover,.clip-btn.zeroclipboard-is-active {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc
}

.clip-btn:active,.clip-btn.selected,.clip-btn.zeroclipboard-is-active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15)
}

.clip-btn.selected:hover {
  background-color: #cfcfcf
}

.clip-btn:disabled,.clip-btn:disabled:hover,.clip-btn.disabled,.clip-btn.disabled:hover {
  color: rgba(102,102,102,0.5);
  cursor: default;
  background-color: rgba(229,229,229,0.5);
  background-image: none;
  border-color: rgba(197,197,197,0.5);
  box-shadow: none
}

.clippy {
  margin: -3px 0 0 0;
  position: relative;
  top: 3px
}

.clip-btn[disabled] .clippy {
  opacity: .3
}

/**======================================================*/
/*-----------------------------
        custom styles
-----------------------------*/
.md-preview p {
  line-height: 2;
  margin: 10px 0;
}

.md-preview h1 + p,
.md-preview h2 + p,
.md-preview h3 + p,
.md-preview h4 + p {
  margin-top: 8px;
}

.md-preview h1,
.md-preview h2,
.md-preview h3,
.md-preview h4 {
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
}
.md-preview h1 {
  font-size: 28px;
}
.md-preview h2 {
  font-size: 24px;
  margin: 20px 0 12px;
}
.md-preview h2 .code {
  font-size: 24px;
}

.md-preview h3 {
  font-size: 20px;
  margin: 12px 0 8px;
}
.md-preview h3 .code {
  font-size: 20px;
}

.md-preview h4 {
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0 5px;
}
.md-preview h4 .code {
  font-size: 16px;
}

.md-preview h1 > *,
.md-preview h2 > *,
.md-preview h3 > *,
.md-preview h4 > * {
    font-size: inherit !important;
}

.md-preview > *:first-child {
  margin-top: 0!important;
}

.md-preview .pre,
.md-preview pre {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  max-width: 100%!important;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  white-space: nowrap;
  word-wrap: break-word!important;
  background: #F0F0F0;
  color: #fff;
  font-family: Consolas, Lucida Console, Courier New, monospace;
}
.md-preview .line,
.md-preview .lbr {
  display: block;
  margin: 3px 0;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap!important;
}
.md-preview .lbr {
  line-height: 0;
  height: 6px;
}

.md-preview .code {
  font-size: 12px;
  margin: 0 2px;
  font-family: monospace;
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
}
.md-preview .link {
  color: #1980e6;
}

.md-preview p {
  text-align: justify;
}
.md-preview p,
.md-preview .code,
.md-preview .link {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
}

.md-preview img {
  max-width: 100%;
}
.md-preview .img-wrap {
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
}

.md-preview ul,
.md-preview ol {
  padding-left: 10px;
  line-height: 2;
}
.md-preview li {
  margin: 10px 0 10px 10px;
  font-size: 14px;
}

.md-preview .blockquote {
  background: #efefef;
  margin: 10px 0;
  padding: 10px 10px;
  font-size: 12px;
  background-color: #efefef;
  border-left: 2px solid #127ae6;
}
.md-preview .blockquote p + p {
  margin-top: 10px;
}
.md-preview .blockquote p {
  margin: 0;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
}


.md-preview table {
  margin-top: 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.md-preview table thead {
  background-color: #F7F7F7;
  border-bottom: 2px solid #1491e8;
}
.md-preview table tr {
  border-bottom: 1px solid #1491e8;
  text-align: left;
}
.md-preview table td,
.md-preview table th {
  line-height: 2;
  font-size: 12px;
  overflow: hidden;
  padding: 5px 5px;
  min-width: 50px;
}
.md-preview table th + th,
.md-preview table td + td {
  padding-left: 15px;
}
